<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
  {{>header}}
  <p>This site was created by <span><b>Johnson Khadka</b></span>. To display the entered location's weather forecast, this site utilizes <b>mapbox</b> & <b>weatherstack</b>s' API.</p>
  <p>Thankyou !</p>
    
    <img class="portrait" src="./img/profilepic.jpg">
    </div>
  
    
    {{>footer}}
</body>

</html>